<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel='stylesheet' href='/css/style.css'/>
    <title>FLASH CARD - Practice</title>
</head>

<body>
    <ul>
        <li><a href="/">Top</a></li>
        <li><a href="/mypage">Mypage</a></li>
        <li><a href="/mypage/words">Word list</a></li>
    </ul>
    <div class="buttons">
        <button id="prev">Back</button>
        <button id="show">Show answer</button>
        <button id="next">Next</button>
    </div>
    <dl class="questions-word">
        <% for (let i = 0; i < words.length; i++) { %>
        <div class="word">
            <dt><%= words[i].english %></dt>
            <dd><%= words[i].japanese %></dd>
            <dd><%= words[i].comment %></dd>
        </div>
        <% } %>
    </dl>
    <script type="text/javascript" src="/js/questions.js"></script>
</body>

</html>
